$orange: #fb990e;
$green: #00cc00;
$blue: #0d8ad2;
$bg: #fef2cf;
$sidebar: 450px;
$breakpoint: 1024px;

@mixin module($color) {
  margin: 20px;
  padding: 20px;
  border-bottom: 10px solid darken($color, 10%);
  background: $color url(../images/bg.png);
  &:hover { background: rgba($color, 0.9) url(../images/bg.png); }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:700|Open+Sans);
@font-face {
    font-family: 'icomoon';
    src:url(../fonts/icomoon.eot?sfd1u1);
    src:url(../fonts/icomoon.eot?#iefixsfd1u1) format('embedded-opentype'),
        url(../fonts/icomoon.woff?sfd1u1) format('woff'),
        url(../fonts/icomoon.ttf?sfd1u1) format('truetype'),
        url(../fonts/icomoon.svg?sfd1u1#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon {
  font-family: 'icomoon';
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-overlay {
  position: relative;
  &:hover:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
}

body {
  background: $bg url(../images/bg.png);
  font-family: 'Open Sans', sans-serif;
  h1, h2 { font-family: 'Raleway', sans-serif; }
  a { text-decoration: none; }
}

#sidebar {
  a {
    color: white;
    &:hover { color: black; }
  }
  #bio {
    overflow: hidden;
    @include module($orange);
    text-align: center;
    img { display: none;}
    @media (min-width: $breakpoint) {
      text-align: left;
      img {
        display: block;
        float: left;
      }
    }
  }
  #social {
    $twitter: #3f93e9;
    $gplus: #da4735;
    $github: black;
    @include module(white);
    text-align: center;
    a {
      @extend .hover-overlay;
      display: inline-block;
      width: 60px;
      width: calc(30% - 40px);
      max-width: 60px;
      height: 50px;
      padding: 20px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .twitter {
      background-color: $twitter;
      background-image: url(../images/twitter.png);
    }
    .gplus {
      background-color: $gplus;
      background-image: url(../images/gplus.png);
    }
    .github {
      background-color: $github;
      background-image: url(../images/github.png);
    }
  }
  @media (min-width: $breakpoint) {
    width: $sidebar;
    float: left;
  }
}

@import 'github';

#main {
  article {
    @include module(white);
    a {
      color: $blue;
      &:hover { color: lighten($blue, 10%); }
    }
    .img-container {
      float: right;
      margin: 10px;
      max-width: 50%;
      @media (max-width: 480px) { max-width: calc(100% - 20px); }

      img {
        border: 2px solid black;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
      }
    }
    .lang {
      font-size: 0.75em;
      color: #999;
      &:before { content: ' - '; }
    }
    overflow: hidden;
  }
  @media (min-width: $breakpoint) {
    overflow: auto;
  }
}
