<!doctype html>

<html lang="en">
<head>

  <title>Geraint White</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="https://secure.gravatar.com/avatar/d80630000a9c6836097518ede9b75405.png?s=64">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
  <!-- build:css css/main.min.css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- /build -->

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

</head>
<body>

  <section id="sidebar">

    <section id="bio">
      <img src="https://secure.gravatar.com/avatar/d80630000a9c6836097518ede9b75405.png?s=150" alt="logo">
      <h1><a href="https://geraintwhite.co.uk">Geraint White</a></h1>
    </section>

    <section id="social">
      <a class="twitter" href="https://twitter.com/grit96" target="_blank"></a>
      <a class="gplus" href="https://google.com/+geraintwhite" target="_blank"></a>
      <a class="github" href="https://github.com/grit96" target="_blank"></a>
    </section>

    <section id="github-widget">
      <h2><a href="https://github.com/grit96" target="_blank">Github</a></h2>
    </section>

  </section>

  <section id="main">

    <article>{{welcome}}</article>

    <article>{{dvbris.com}}</article>

    <article>{{node}}</article>

    <article>{{pebble-info}}</article>

    <article>{{binary-pebble}}</article>

    <article>{{pycraft}}</article>

    <article>{{dvbris.co.uk}}</article>

    <article>{{hsc}}</article>

  </section>

  <!-- build:js js/main.min.js -->
  <script src="js/google.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/github.js"></script>
  <script src="js/twitter.js"></script>
  <script src="js/home.js"></script>
  <!-- /build -->
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm-min.js"></script>-->

</body>
</html>
